{% extends 'offsite_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_pages_reset') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_pages_reset') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Réinitialisation du mot de passe</h1>

    {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword.first) }}
        {{ form_row(form.newPassword.second) }}
        <button class="btn btn-lg btn-primary" type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}