{% extends 'offsite_base.html.twig' %}

{% set page_title = 'Réinitialiser le mot de passe' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_pages_reset') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_pages_reset') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary text-center mb-3 animate__animated animate__fadeIn">Réinitialisation du mot de passe</h1>

    {{ form_start(form) }}
    <div class="card bg-light mx-auto w-50 mt-3 mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-10 fs-4">
                    {{ form_row(form.oldPassword) }}
                </div>
            </div>
            <div class="row>">
                <div class="col-12 col-md-10 fs-4">
                    {{ form_row(form.newPassword.first) }}
                </div>
            </div>
            <div class="row>">
                <div class="col-12 col-md-10 fs-4">
                    {{ form_row(form.newPassword.second) }}
                </div>
            </div>
            <button class="btn btn-lg btn-primary mt-3" type="submit">Enregistrer les modifications</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}