{% extends 'offsite_base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('security_pages_register') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('security_pages_register') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary text-center my-4">Créer ton compte</h1>

    {{ form_start(form) }}
    <div class="card bg-light mx-auto w-50 mt-3 mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="row>">
                <div class="col-12 col-md-10">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    {{ form_row(form.password) }}
                </div>
            </div>
            {{ form_row(form.agreeTerms) }}

            <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}