{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_lessons') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_lessons') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary text-center mb-3">Liste des leçons</h1>



    {% for chapter in chapters %}
    <h2 class="text-info mb-2 ms-3">Chapitre {{ chapter.numbering }} : {{ chapter.name }}</h2>

    <div class="card text-bg-light mb-5">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for lesson in lessons|sort((a, b) => a.numbering <=> b.numbering) %}
                    {% if lesson.chapter == chapter.name %}
                        <li class="list-group-item text-bg-light d-flex justify-content-between align-items-center">
                            <div class="me-auto">
                                <h3 class="{% if app.user.progression < 1 %}text-warning text-decoration-underline{% else %}text-success text-decoration-underline{% endif %}">Leçon n°{{ lesson.numbering }}. {{ lesson.name }}</h3>
                                // TODO resume column in Lesson Entity
                            </div>
                            <a class="btn btn-info text-white" href="">Commencer</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

    <h2 class="text-primary text-decoration-underline ms-3 my-4">Documents supplémentaire</h2>
    <div class="row justify-content-center p-0 mb-4">
        <div class="col-lg-6">
            <div class="card shadow text-bg-light border-dark text-center mb-3 mx-auto" style="max-width: 22rem;">
                <img src="{{ asset('build/medias/images/TableauHiragana.png') }}" class="card-img-top">
                <hr class="m-0">
                <div class="card-body">
                    <h3>Tableau des hiragana</h3>
                    <a class="btn btn-info text-white btn-lg mx-auto" href="/assets/medias/images/jpl-logo.jpg" download="logo.png">Télécharger le document</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow text-bg-light border-dark text-center mb-3 mx-auto" style="max-width: 22rem;">
                <img src="{{ asset('build/medias/images/TableauKatakana.png') }}" class="card-img-top">
                <hr class="m-0">
                <div class="card-body">
                    <h3>Tableau des katakana</h3>
                    <a class="btn btn-info text-white btn-lg mx-auto" href="/assets/medias/images/jpl-logo.jpg" download="logo.png">Télécharger le document</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h4 class="text-center">cours en ligne</h4>
            <a class="btn btn-warning btn-lg" href="{{ path('app_online_lesson') }}">Cours en ligne</a>
        </div>
    </div>
{% endblock %}