{% set count = 0 %}
    {% for type in types %}
        {% set count = count + 1 %}
    {% endfor %}

<div class="card-body align-self-center mb-4">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        {% if count > 0 %}
            {% for type in types|sort((a, b) => a.numbering <=> b.numbering) %}
                <li class="nav-item">
                    <button class="nav-link {% if type.numbering == 1 %}active{% endif %}" id="{{ type.name }}-tab" data-bs-toggle="tab" data-bs-target="#{{ type.name }}" role="tab" aria-controls="{{ type.name }}" aria-selected="true"><i class="far fa-book-open-cover me-2"></i>{{ type.name }}</button>
                </li>
            {% endfor %}
        {% else %}
        {% endif %}
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    {% for type in types|sort((a, b) => a.numbering <=> b.numbering) %}
        <div class="tab-pane fade{% if type.numbering == 1 %} active show{% else %}{% endif %}" id="{{ type.name }}" role="tabpanel" aria-labelledby="{{ type.name }}-tab">
            {% for chapter in chapters|sort((a, b) => a.numbering <=> b.numbering) %}
                {% set typeName = type.matter ~ ' : ' ~ type.name %}
                {% if chapter.type == typeName %}
                    <h2 class="text-info mb-2 ms-3">Chapitre {{ chapter.numbering }} : {{ chapter.name }}</h2>
                    <div class="card text-bg-light mb-5">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for lesson in lessons|sort((a, b) => a.numbering <=> b.numbering) %}
                                    {% set chapterName = typeName ~ ' : ' ~ chapter.name %}
                                    {% if lesson.chapter == chapterName %}
                                        <li class="list-group-item text-bg-light d-flex justify-content-between align-items-center">
                                            <div class="me-auto">
                                                <h3 class="{# {% if app.user < lesson.numbering %} #}text-warning text-decoration-underline{# {% else %}text-success text-decoration-underline{% endif %} #}">Leçon n°{{ lesson.numbering }}. - {{ lesson.name }}</h3>
                                                {{ lesson.resume }}
                                            </div>
                                            <a href="{{ path('app_single', {lessonId: lesson.id, typeId: type.id}) }}" class="btn {# {% if app.user < lesson.numbering - 1 %} #}btn-outline-info {# disabled{% else %}btn-info text-white{% endif %} #}">Commencer</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>