{% extends 'base.html.twig' %}

{% set page_title = 'Leçons' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_lessons_single') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_lessons_single') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1 class="text-success text-center mb-5">Leçon n°{{ lesson.numbering }} : {{ lesson.name }}</h1>

        {% for block in lesson.blocks %}
            <p class="fs-5">{{ block.content|raw }}</p>
        {% endfor %}
        <div class="d-none">{{ form_row(form.complete, {value: '10'}) }}</div>

        <div class="card">
            <div class="card-body d-flex justify-content-center justify-content-md-between align-items-center">
                <div class="progress flex-grow-1">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Avancement" style="width: {% if form.vars.value is not null and form.vars.value.complete is not null %}{{ form.vars.value.complete }}{% endif %}%" aria-valuenow="{% if form.vars.value is not null and form.vars.value.complete is not null %}{{ form.vars.value.complete }}{% endif %}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button type="submit" class="btn btn-success text-white">Terminer</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}