{% extends 'base.html.twig' %}

{% set page_title = 'Leçons' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_lessons_single') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_lessons_single') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h2 class="text-info">{{ lesson.chapter.numbering }}. {{ lesson.chapter.name }}</h2>
        <h1 class="text-success text-center mb-5">Leçon n°{{ lesson.numbering }} : {{ lesson.name }}</h1>
        {% set count = 0 %}
        {% set realNumbering = null %}
        {% for lessonArray in lessons %}
            {% if lessonArray.chapter.type == lesson.chapter.type %}
                {% set count = count + 1 %}
                {% if lessonArray.name == lesson.name %}
                    {% set realNumbering = count %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% set complete = realNumbering * (100 / count) %}

        {% for block in lesson.blocks %}
            <p class="fs-5">{{ block.content|raw }}</p>
        {% endfor %}
        {{ form_widget(form.complete, {'value': complete}) }}
        <div class="card">
            <div class="card-body d-flex justify-content-center justify-content-md-between align-items-center">
                <span class="fs-5 me-2">{{ progression.complete }}%</span>
                <div class="progress flex-grow-1 me-3">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Avancement" style="width: {{ progression.complete }}%" aria-valuenow="{{ progression.complete }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button type="submit" class="btn btn-success text-white">Terminer</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}