{% for progression in progressions %}
    {% if progression.user == app.user %}
        <h3 class="text-info">{{ progression.type.matter.name }} : {{ progression.type.name }}</h3>
        {{ progression.complete }}%
        <div class="progress flex-grow-1">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Avancement" style="width: {{ progression.complete }}%" aria-valuenow="{{ progression.complete }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <hr class="border border-dark mx-auto mt-4 mb-3 w-75">
    {% endif %}
{% endfor %}