{% extends 'base.html.twig' %}

{% set page_title = 'Matières' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_pages_matter') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front_pages_matter') }}
{% endblock %}

{% block body %}
    <h1 class="text-success text-center mb-4">Liste des matières</h1>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <h4 class="my-3">Choisissez une matière que ....</h4>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-5">
        {% for category in categories %}
            <div class="accordion mb-3" id="accordionDescription{{ category.id }}">
                <div class="accordion-item">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#id{{ category.id }}" aria-expanded="true" aria-controls="id{{ category.id }}">
                        <h2 class="accordion-header">
                            {{ category.name }}
                        </h2>
                    </button>
                    {% for matter in matters|sort((a, b) => a.name <=> b.name) %}
                        {% if matter.category == category.name %}
                        <div id="id{{ category.id }}" class="accordion-collapse collapse show" data-bs-parent="#accordionDescription{{ category.id }}">
                            <hr class="m-0">

                            {% set hasProgression = null %}
                            {% for type in types %}
                                {% if matter.name == type.matter %}
                                    {% set matterType = matter.name ~ ' : ' ~ type.name %}
                                    {% for prog in app.user.progressions %}
                                        {% if prog.type == matterType %}
                                            {% set hasProgression = prog.id %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <a class="list-group-item py-2 px-4 fs-4" href="{{ path('app_lessons', {matter : matter.slug, progressionId: hasProgression}) }}">
                                {{ matter.name }}
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}