{% extends 'base.html.twig' %}

{% set page_title = 'Matières' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_pages_matter') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front_pages_matter') }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning fs-4 animate__animated animate__pulse">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-success text-center mb-4 animate__animated animate__fadeIn">Liste des matières</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 gx-5">
        {% for category in categories|sort((a, b) => a.numbering <=> b.numbering) %}
            <div class="col">
                <h2 class="mt-5 text-center">{{ category.name }}</h2>
                {% for matter in matters|sort((a, b) => a.name <=> b.name) %}
                    {% if matter.category == category.name %}

                        {% set hasProgression = null %}
                        {% if app.user %}
                            {% for type in types %}
                                {% if matter.name == type.matter %}
                                    {% set matterType = matter.name ~ ' : ' ~ type.name %}
                                    {% for prog in app.user.progressions %}
                                        {% if prog.type == matterType %}
                                            {% set hasProgression = prog.id %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="mt-2">
                            <div class="btn w-100 my-1 py-2 shadow-sm">
                                <div class="row align-items-center">
                                    <a class="fs-3 py-3 text-decoration-none" href="{{ path('app_lessons', {matter: matter.slug, progressionId: hasProgression}) }}">{{ matter.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}