{% extends 'base.html.twig' %}

{% set page_title = 'Accueil' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_pages_home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front_pages_home') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success fs-4">
            {{ message }}
        </div>
    {% endfor %}

    {% if app.user %}
        <p class="display-6">Bienvenue <span class="text-info">{{ app.user.name }}</span> !</p>
    {% else %}
        <div class="row mb-5">
            <div class="col text-center">
                <p class="display-6 text-warning">Tu n'es connecté à aucun compte.</p>
                <a class="btn btn-info btn-lg text-light" href="{{ path('app_login') }}">Connexion</a>
            </div>
        </div>
    {% endif %}

    <div class="row fs-3 fw-light text-center my-5">
        <div class="col-6 align-self-center">TODO IMAGE</div>
        <div class="col-6 p-3">
            Baruu est un site dédié à <span class="text-decoration-underline">l'apprentissage</span>. Ici le but, c'est de vous faire apprendre ce que vous avez envie d'apprendre.<br><br>
            Notre plateforme propose ses services à travers différentes matières. On y retrouve essentiellement des leçons, mais également des exercices, et bien d'autre !<br>
        </div>
    </div>
    <div class="row fs-3 fw-light text-center my-5 bg-secondary">
        <div class="col-5 p-3">
            Baruu met également à disposition des cours en ligne. En plus, c'est fait par des professionnels qui sont certifiés par la plateforme.<br><br>
            Si tu veux voir les matières qu'on propose, c'est par ici !<br>
            <a class="btn btn-success btn-lg text-light my-3" href="{{ path('front_matter') }}">Apprendre</a>
        </div>
        <div class="col-7 align-self-center">TODO IMAGE</div>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide my-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{{ asset('build/medias/images/white_baruu_logo.png') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <h5>TODO titre 1</h5>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <h5>TODO titre 2</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                    <h5>TODO titre 3</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="fs-3 fw-light text-center my-5">
        N'oublie pas les cours en ligne que tu peux consulter à tout moment.<br>
        <a class="btn btn-info btn-lg text-light my-3" href="{{ path('app_online_lesson') }}">Cours en ligne</a>
    </div>
{% endblock %}