{% extends 'base.html.twig' %}

{% set page_title = 'Cours en ligne' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_online_lessons') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_online_lessons') }}
{% endblock %}

{% block body %}
    <h1 class="text-info text-center mb-5">Cours en ligne disponible</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for onlineLesson in onlineLessons %}
        <div class="col">
            <div class="card text-bg-light mb-3">
                <div class="card-header">
                    <h4 class="card-title text-success text-decoration-underline me-auto">{{ onlineLesson.matter}} : {{ onlineLesson.title }}</h4>
                    {% for language in onlineLesson.getLanguage() %}
                            <h5><span class="badge text-bg-info text-light h-100">{{ language.name }}</span></h5>
                    {% endfor %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ onlineLesson.author }}<br>
                        Début : {{ onlineLesson.startAt | format_datetime('full', locale='fr') }}<br>
                        Fin : {{ onlineLesson.endAt | format_datetime('full', locale='fr') }}<br>
                        Nombre de participants : {{ onlineLesson.nbParticipants }}<br>
                        <a class="btn btn-outline-warning" href="{{ onlineLesson.classLink }}">Lien vers la salle de cours</a>
                    </p>
                    <div class="accordion mb-3" id="accordionDescription">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id{{ onlineLesson.id }}" aria-expanded="true" aria-controls="id{{ onlineLesson.id }}">
                                    Description
                                </button>
                            </h2>
                            <div id="id{{ onlineLesson.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionDescription">
                                <div class="accordion-body">
                                    {{ onlineLesson.description|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><a class="btn btn-lg btn-info text-light" href="">Participer</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}