{% block stylesheets %}
    {{ encore_entry_link_tags('app_components_navbar') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_components_navbar') }}
{% endblock %}

<nav class="navbar navbar-expand-xl bg-primary navbar-dark pt-3 pb-0 m-0">
    <div class="container p-0">
        <a class="navbar-brand m-0 p-0" href="{{ path('front_home') }}"><img src="{{ asset('build/medias/images/BARUU_logo.webp') }}" style="width: 158px; height: 50px;"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-xl-0">
                <li class="nav-item mx-2">
                    <a class="nav-link pt-3 {% if app.request.get('_route') == 'front_home' %}active{% endif %}" {% if app.request.get('_route') == 'front_home' %}aria-current="page"{% endif%}href="{{ path('front_home') }}"><span class="text-light" style="font-size: 30px;">Accueil</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link pt-3 {% if app.request.get('_route') == 'front_matter' %}active{% endif %}" {% if app.request.get('_route') == 'front_matter' %}aria-current="page"{% endif%}href="{{ path('front_matter') }}"><span class="text-light" style="font-size: 30px;">Matières</span></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link pt-3 {% if app.request.get('_route') == 'app_online_lesson' %}active{% endif %}" {% if app.request.get('_route') == 'app_online_lesson' %}aria-current="page"{% endif%}href="{{ path('app_online_lesson') }}"><span class="text-light" style="font-size: 30px;">Cours en ligne</span></a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav pt-2">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-light" style="font-size: 25px;">Connecté ({{ app.user.name }})</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_profile') }}"><span style="font-size: 20px;">Mon profil</span></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}"><span style="font-size: 20px;">Se déconnecter</span></a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" {% if app.request.get('_route') == 'app_login' %}aria-current="page"{% endif%}href="{{ path('app_login') }}"><span style="font-size: 26px;">Se connecter</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" {% if app.request.get('_route') == 'app_register' %}aria-current="page"{% endif%}href="{{ path('app_register') }}"><span style="font-size: 26px;">S'inscrire</span></a>
                </li>
            {% endif %}
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<svg style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 99" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(188, 0, 45, 1)" offset="0%"></stop><stop stop-color="rgba(188, 0, 45, 0.4)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,50L24,48.3C48,47,96,43,144,43.3C192,43,240,47,288,40C336,33,384,17,432,23.3C480,30,528,60,576,63.3C624,67,672,43,720,40C768,37,816,53,864,61.7C912,70,960,70,1008,66.7C1056,63,1104,57,1152,45C1200,33,1248,17,1296,21.7C1344,27,1392,53,1440,68.3C1488,83,1536,87,1584,78.3C1632,70,1680,50,1728,46.7C1776,43,1824,57,1872,63.3C1920,70,1968,70,2016,61.7C2064,53,2112,37,2160,35C2208,33,2256,47,2304,46.7C2352,47,2400,33,2448,38.3C2496,43,2544,67,2592,70C2640,73,2688,57,2736,46.7C2784,37,2832,33,2880,26.7C2928,20,2976,10,3024,16.7C3072,23,3120,47,3168,50C3216,53,3264,37,3312,35C3360,33,3408,47,3432,53.3L3456,60L3456,100L3432,100C3408,100,3360,100,3312,100C3264,100,3216,100,3168,100C3120,100,3072,100,3024,100C2976,100,2928,100,2880,100C2832,100,2784,100,2736,100C2688,100,2640,100,2592,100C2544,100,2496,100,2448,100C2400,100,2352,100,2304,100C2256,100,2208,100,2160,100C2112,100,2064,100,2016,100C1968,100,1920,100,1872,100C1824,100,1776,100,1728,100C1680,100,1632,100,1584,100C1536,100,1488,100,1440,100C1392,100,1344,100,1296,100C1248,100,1200,100,1152,100C1104,100,1056,100,1008,100C960,100,912,100,864,100C816,100,768,100,720,100C672,100,624,100,576,100C528,100,480,100,432,100C384,100,336,100,288,100C240,100,192,100,144,100C96,100,48,100,24,100L0,100Z"></path></svg>
